<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Handle Handler Requests">
          <match url="(.*)" />
          <action type="Rewrite" url="public/index.html" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
</configuration>